<div class="main-nav">
    <div class="navbar navbar-dark bg-dark navbar-expand-md">
        <div class="navbar-header">
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                &#x2630;
            </button>
            <a class="navbar-brand" href="/">Blazor app</a>
        </div>

        <div class="navbar-collapse collapse">
            <ul class="navbar-nav flex-column">
                <li>
                    <NavLink href="/" Match=NavLinkMatch.All>Home</NavLink>
                </li>
                <li>
                    <NavLink href="/counter">Counter</NavLink>
                </li>
                <li>
                    <NavLink href="/fetchdata">Fetch data</NavLink>
                </li>
            </ul>
        </div>
    </div>
</div>
