<div class="side-nav">
    <div class="navbar navbar-dark navbar-expand-md">
        <div class="navbar-header">
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
                <span class="sr-only">Toggle navigation</span>
                &#x2630;
            </button>
        </div>
        <div class="navbar-collapse collapse" id="navbarNav">
            <ul class='nav navbar-nav flex-column'>
                <li>
                    <NavLink href="/" Match=NavLinkMatch.All>Home</NavLink>
                </li>
                <li>
                    <NavLink href="/counter">Counter</NavLink>
                </li>
                <li>
                    <NavLink href="/fetchdata">Fetch data</NavLink>
                </li>
            </ul>
        </div>
    </div>
</div>
