.vs/
bin/
obj/
*.user
launchSettings.json
artifacts/
msbuild.binlog
.vscode/
BenchmarkDotNet.Artifacts/
/startvs.bat
/src/Microsoft.AspNetCore.Blazor.Browser.JS/npm-debug.log
/packages
/src/anglesharp/AngleSharpBuilder/dist
