/*Top NavBar*/
.top-nav-wrapper {
    margin-bottom: 65px;
}

.top-nav {
    background-color: #455A64;
}

/* Highlighting rules for nav menu items */
.side-nav li a.active,
.side-nav li a.active:hover,
.side-nav li a.active:focus {
    background-color: #009688;
    color: white;
    font-weight: bold;
}


/* Keep the nav menu independent of scrolling and on top of other items */
.side-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    padding: 0;
}

    .side-nav .navbar {
        background-color: #f8f9fa;
    }

.navbar {
    display: block;
}

@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen and hide top nav */
    .top-nav {
        display: none;
    }

    .side-nav .navbar {
        background-color: #455A64;
        height: 56px;
    }
}

@media (min-width: 768px) {
    /* On small screens, convert the nav menu to a vertical sidebar */
    .side-nav {
        height: 100%;
        width: calc(25% - 20px);
    }

        .side-nav .navbar {
            border-radius: 0px;
            border-width: 0px;
            height: 100%;
            padding: 0;
        }

        .side-nav .navbar-header {
            float: none;
        }

        .side-nav .navbar-collapse {
            padding: 0px;
        }

        .side-nav .navbar ul {
            float: none;
            width: 100%;
            margin-top: 56px;
        }

        .side-nav .navbar li {
            float: none;
            font-size: 15px;
            padding: 0;
            margin: 0;
        }

            .side-nav .navbar li a {
                padding: 10px 16px;
                display: block;
            }

        .side-nav .navbar a {
            /* If a menu item's text is too long, truncate it */
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
}

/* 
    Temporary workaround due to the <blazor-component> wrapper element. The wrapper element
    will be eliminated in a future update, making this workaround unnecessary.
*/
.navbar-nav > li a {
    color: #757575;
    line-height: 20px;
}

    .navbar-nav > li a:hover {
        color: #212121;
        background-color: transparent;
        text-decoration: none;
        font-weight: bold;
    }

    .navbar-nav > li a:focus {
        text-decoration: none;
    }

.alert-survey {
    color: #6a6969;
    background-color: #e8e8e8;
    border-color: #d3d3d3;
    margin-top: 25px;
}

    .alert-survey a {
        font-weight: bold;
        color: #009688;
    }
