<div id="foo">
<PassThroughContentComponent>
<div><p>Some-Static-Text</p></div>
<div id="bar">&lt;span&gt;More-Static-Text&lt;/span&gt;</div>
<div id="baz"><span>@("Some-Dynamic-Text")</span><span>But this is static</span></div>
</PassThroughContentComponent>
</div>