@using Microsoft.AspNetCore.Blazor.Components

<div id="@Node.Id">
    <p>@Node.Value</p>
    @foreach (var child in Node.Children)
    {
        <TreeNode Node="@child" />
    }
</div>

@functions{

    [Parameter]
    private Node Node { get; set; }

    protected override Task OnInitAsync()
    {
        var nullString = "(null)";
        Console.WriteLine($"Node: {(Node != null ? Node.Id : nullString)}");
        return Task.CompletedTask;
    }
}