<div class="top-nav-wrapper">
    <nav class="navbar navbar-dark fixed-top top-nav">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">BlazorHosted.CSharp</a>
        </div>
    </nav>
</div>